<style>
	body {
		padding-bottom: 30px;
	}
</style>

<!-- Установка поля title у страницы -->
{{set . "title" "Списки книг, авторов и издательств"}}
<!-- Блок <head> -->
{{template "header.html" .}}

<!-- Основной контент страницы -->
<div class="container-fluid">
	<!-- Таблицы -->
	<div class="col-md-10 row">
		<!-- Список книг -->
		<div class="col-md-8 col-md-offset-2">
			<h1 class="page-header text-center">Книги</h1>

			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Название</th>
							<th>Автор</th>
							<th>Издательство</th>
						</tr>
					</thead>
					<tbody>
						{{range .books}}
						<tr>
							<td>{{.ID}}</td>
							<td>{{.Title}}</td>
							<td>{{.Author}}</td>
							<td>{{.Publisher}}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>

		<!-- Список авторов / издательств -->
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<!-- Список авторов -->
				<div class="col-md-6 col-sm-6 col-xs-6">
					<h1 class="page-header text-center">Авторы</h1>

					<div class="table-responsive">
						<table class="table table-striped table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>Имя автора</th>
								</tr>
							</thead>
							<tbody>
								{{range .authors}}
								<tr>
									<td>{{.ID}}</td>
									<td>{{.Name}}</td>
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>

				<!-- Список издательств -->
				<div class="col-md-6 col-sm-6 col-xs-6">
					<h1 class="page-header text-center">Издательства</h1>

					<div class="table-responsive">
						<table class="table table-striped table-bordered text-right">
							<thead>
								<tr>
									<th class="text-right">#</th>
									<th class="text-right">Название издательства</th>
								</tr>
							</thead>
							<tbody>
								{{range .publishers}}
								<tr>
									<td>{{.ID}}</td>
									<td>{{.Name}}</td>
								</tr>
								{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Форма для фильтрации списков -->
	<div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
		<h1 class="page-header text-center">Фильтр</h1>
		<form method="post" action="/filter" class="form-horizontal">
			<!-- Выбор автора -->
			<div class="form-group">
				<label for="author">Выберите автора</label>
				<select name="author" id="author" class="form-control">
					<option value="">Любой</option>
					{{ range $author := .authors }}
					<option value="{{ .ID }}">{{ .Name }}</option>
					{{ end }}
					<option value="null">Без автора</option>
				</select>
			</div>

			<!-- Выбор издательства -->
			<div class="form-group">
				<label for="publisher">Выберите издательство</label>
				<select name="publisher" id="publisher" class="form-control">
					<option value="">Любое</option>
					{{ range $author := .publishers }}
					<option value="{{ .ID }}">{{ .Name }}</option>
					{{ end }}
					<option value="null">Неизданное</option>
				</select>
			</div>

			<!-- Кнопка "Показать" -->
			<button type="submit" class="btn btn-primary btn-block">Показать</button>
		</form>
	</div>
</div>

<!-- Окно для отображения ошибки -->
<div class="container">
	<div class="row">
		<div class="span6">{{template "flash.html" .}}</div>
	</div>
</div>

<!-- В футере есть кнопка панели для дебага -->
<!-- {{template "footer.html" .}} -->
