<!-- Форма фильтрации и кнопка "Показать" -->
<div class="col-md-2 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
	<!-- Заголовок -->
	<h1 class="page-header text-center">Фильтр</h1>

	<!-- Форма для фильтрации -->
	<form method="post" action="/filter" class="form-horizontal">
		<!-- Выбор автора -->
		<div class="form-group">
			<label for="author">Выберите автора</label>
			<select name="author" id="author" class="form-control" {{if .filter}}disabled{{end}}>
				<option {{ if eq .authorId ("")}}selected{{end}}  value="">Любой</option>
				{{ range $author := .authors }}
				<option {{ if eq $.authorId (print .ID)}} selected {{end}}  value="{{ .ID }}">{{ .Name }}</option>
				{{ end }}

				<option {{ if eq .authorId ("null")}}selected{{end}} value="null">Без автора</option>
			</select>
		</div>

		<!-- Выбор издательства -->
		<div class="form-group">
			<label for="publisher">Выберите издательство</label>
			<select name="publisher" id="publisher" class="form-control" {{if .filter}}disabled{{end}}>
				<option {{ if eq .publisherId ("")}}selected{{end}} value="">Любое</option>
				{{ range $author := .publishers }}
				<option {{ if eq $.publisherId (print .ID)}}selected{{end}} value="{{ .ID }}">{{ .Name }}</option>
				{{ end }}
				<option {{ if eq .publisherId ("null")}}selected{{end}} value="null">Неизданное</option>
			</select>
		</div>

		{{if .filter}}
		<!-- Кнопка "Домой" -->
		<a href="/" class="btn btn-primary btn-block">Показать все</a>
		{{else}}
		<!-- Кнопка "Показать" -->
		<button type="submit" class="btn btn-primary btn-block">Показать</button>
		{{end}}
	</form>
</div>
